.main {
  min-height: 100vh;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: darkgoldenrod;
  font-family: var(--font-roboto);
}

.title {
  font-size: 100px;
}

.subTitle {
  font-size: 20px;
  letter-spacing: 2px;
}
