.Container {
  font-family: var(--font-fira-sans);
  text-align: center;
  margin: auto;
  background: #26282e;
  padding-top: 24px;
  padding-bottom: 84px;
}

.Title {
  font-size: 56px;
  line-height: 67px;
}

.SubTitle {
  max-width: 700px;
  color: #fcfafa;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  margin: auto;
  margin-top: 24px;
}

.CardsContainer {
  height: 600px;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 84px;
  transition: 0.5s;
}

.Stepper {
  justify-content: center;
  padding: 16px;
  margin-top: 100px;
  display: flex;
  gap: 50px;
  width: 100%;
}

.Stepper > div {
  display: inline-block;
  width: 40px;
  height: 8px;
  background-color: #7f7b82;
}

.Stepper > div:hover {
  background-color: white;
  cursor: pointer;
}

.ActiveStep {
  background-color: white !important;
}
